.container-konfirmasi-pembayaran{
    margin-top: -130px;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
}

button{
    width: max-content;
}

.left{
    width: 600px;
    display: flex;
    justify-content: flex-start;
}

.right{
    width: 600px;
    display: flex;
    justify-content: flex-end;
}

.move{
    width: 100%;
    display: flex;
    /* gap: 950px; */
    margin-left: 40px;
    margin-bottom: 20px;
}
