.container-pesanan {
    padding-top: 120px; 
    display: flex;
    flex-direction: column;
    align-content: center; 
}

.kelola-pesanan {
    width: 1100px;
    height: 250px;
    color: rgb(224, 54, 54);
    background-color: white;
    border: 1px solid red;
    border-radius: 20px;

    display: inline-block;
    align-items: center;
    /* justify-content: center; biar konten di tengah vertikal dalam box */
    text-align: center;
    margin: 50px 50px 100px 80px;  
    padding-top: 50px;

}

.gap {
    height: 30px;

}

.judul{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

button.list1,
button.list2 {
  width: 200px;         
  height: 60px;        
  padding: 10px;
  border: none;
  background-color: rgb(224, 54, 54);
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;   
  display: flex;        
  align-items: center;  
  justify-content: center; 
  transition: background-color 0.2s ease; 
}

button.list1:hover,
button.list2:hover {
  background-color: #fc7c7c;
}
